@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<ngay8thang3_Complete.Models.DongHo>
@{
    ViewBag.Title = "Đồng hồ";
    var ds = new ngay8thang3_Complete.Models.XuatXu();
}

<link href="~/Content/PagedList.css" rel="stylesheet" />

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
        <!-- ============================  FILTER TOP  ================================= -->
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2"> Bạn đang ở trang: </div> <!-- col.// -->
                    <nav class="col-md-6">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/Home">Trang chủ</a></li>
                            <li class="breadcrumb-item"><a href="~/DongHoes/Index">Danh sách sản phẩm</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Items</li>
                        </ol>
                    </nav> <!-- col.// -->
                    <div class="col-md-4">
                        @using (Html.BeginForm("Index", "DongHoes", FormMethod.Get))
                        {
                            <div class="input-group">
                                <input class="form-control mr-sm-2" type="search" placeholder="Nhập tên sản phẩm" aria-label="Search" name="SearchString">
                                <div class="input-group-append">
                                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Tìm kiếm</button>
                                </div>
                            </div>
                        }
                        @if (Session["search"] != null)
                        {
                            <p style="margin:5px">Từ khóa tìm kiếm: " <span style=""> @Session["search"] </span>"</p>
                        }
                    </div>

                </div> <!-- row.// -->
                <hr>
                <!--<div class="row">
                    <div class="col-md-2">Tìm kiếm theo:</div> <!-- col.// -->
                <!--<div class="col-md-10">
                    <ul class="list-inline">
                        <li class="list-inline-item mr-3 dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">   Thương hiệu </a>
                            <div class="dropdown-menu p-3" style="max-width:400px;">
                                <label class="form-check">
                                    <input type="radio" name="myfilter" class="form-check-input"> Good supplier
                                </label>
                                <label class="form-check">
                                    <input type="radio" name="myfilter" class="form-check-input"> Best supplier
                                </label>
                                <label class="form-check">
                                    <input type="radio" name="myfilter" class="form-check-input"> New supplier
                                </label>
                            </div>-->
                <!-- dropdown-menu.// -->
                <!--</li>
                <li class="list-inline-item mr-3 dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">  Quốc gia </a>
                    <div class="dropdown-menu p-3">
                        <label class="form-check"> 	 <input type="checkbox" class="form-check-input"> China    </label>
                        <label class="form-check">   	 <input type="checkbox" class="form-check-input"> Japan      </label>
                        <label class="form-check">    <input type="checkbox" class="form-check-input"> Uzbekistan  </label>
                        <label class="form-check">  <input type="checkbox" class="form-check-input"> Russia     </label>
                    </div>-->
                <!-- dropdown-menu.// -->
                <!--</li>
                <li class="list-inline-item mr-3 dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Loại đồng hồ</a>
                    <div class="dropdown-menu">
                        <a href="" class="dropdown-item">Anti backterial</a>
                        <a href="" class="dropdown-item">With buttons</a>
                        <a href="" class="dropdown-item">Extra safety</a>
                    </div>
                </li>
                <li class="list-inline-item mr-3"><a href="#">Màu sắc</a></li>
                <li class="list-inline-item mr-3"><a href="#">Kích cỡ</a></li>
                <li class="list-inline-item mr-3">
                    <div class="form-inline">
                        <label class="mr-2">Giá</label>
                        <input class="form-control form-control-sm" placeholder="Min" type="number">
                        <span class="px-2"> - </span>
                        <input class="form-control form-control-sm" placeholder="Max" type="number">
                        <button type="submit" class="btn btn-sm btn-light ml-2">Ok</button>
                    </div>
                </li>
                <li class="list-inline-item mr-3">
                    <label class="custom-control mt-1 custom-checkbox">-->
                @*<input type="checkbox" class="custom-control-input">
                    <div class="custom-control-label">
                        <p> Ready to ship</p>
                    </div>*@
                <!--</label>
                        </li>
                    </ul>
                </div>-->
                <!-- col.// -->
                <!--</div>--> <!-- row.// -->
                <div class="row">

                </div>
            </div> <!-- card-body .// -->
        </div> <!-- card.// -->
        <!-- ============================ FILTER TOP END.// ================================= -->

        <header class="mb-3">
            <div class="form-inline">
                <strong class="mr-md-auto">WATCH LUXURY STORE</strong>
                <select class="mr-2 form-control">
                    <option>Latest items</option>
                    <option>Trending</option>
                    <option>Most Popular</option>
                    <option>Cheapest</option>
                </select>
                <div class="btn-group">
                    <a href="~/DongHoes/Index" class="btn btn-light active" data-toggle="tooltip" title="List view">
                        <i class="fa fa-bars"></i>
                    </a>

                    <a href="~/DongHoes/Index2" class="btn btn-light" data-toggle="tooltip" title="Grid view">
                        <i class="fa fa-th"></i>
                    </a>
                </div>
            </div>
        </header><!-- sect-heading -->

        <div class="row">
            @if (Model.Count() <= 0)
            {
                <span class="alert alert-danger">Hiện chưa có sản phẩm!</span>
            }
            @foreach (var item in Model)
            {
                <div class="col-md-3">

                    <figure class="card card-product-grid">

                        <a href="~/DongHoes/Details/@item.ID" class="img-wrap">
                            @if (item.KhuyenMai != 0)
                            {
                                <span class="badge badge-danger"> @item.KhuyenMai % </span>
                            }
                            <img src="~/@item.HinhAnhDH">
                        </a> <!-- img-wrap.// -->
                        <figcaption class="info-wrap">
                            <a href="~/DongHoes/Details?id=@item.ID" style="height:45px" class="title mb-2">@item.TenDongHo</a>
                            <div class="price-wrap">
                                <span class="price">@string.Format("{0:N0}", item.DonGia)  </span>
                                <small class="text-muted">/per item</small>
                            </div> <!-- price-wrap.// -->

                            <p class="mb-2">@item.SoLuong  <small class="text-muted">(Min Order)</small></p>



                            <hr>

                            <p class="mb-3">
                                <span class="tag"> <i class="fa fa-check"></i> Verified</span>
                                <span class="tag"> @item.HanBaoHanh </span>

                                <span class="tag">@Html.DisplayFor(modelItem => item.ChatLieu.TenChatLieu)</span>
                                <br />
                                <span class="tag">@Html.DisplayFor(modelItem => item.XuatXu.TenQG)</span>
                            </p>

                            <label class="custom-control mb-3 custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">
                                    <span>Add to compare</span>
                                </div>
                            </label>

                            <a href="@Url.Action("ThemVaoGio", "ShoppingCard", new { maSP = item.ID })" class="btn btn-outline-primary"> <i class="fa fa-shopping-cart"></i> Giỏ hàng </a>
                            <a href="#" class="btn btn-light"><i class="fa fa-heart"></i> Thích </a>

                        </figcaption>



                    </figure>

                </div> <!-- col.// -->
            }

        </div>
        <!-- row end.// -->


        <nav class="mb-4" aria-label="Page navigation sample">
            <ul class="pagination">
                @*<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>*@
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, currentFilter = ViewBag.CurrentFilter }))

            </ul>
        </nav>


        <div class="box text-center">
            <p>Did you find what you were looking for？</p>
            <a href="" class="btn btn-light">Yes</a>
            <a href="" class="btn btn-light">No</a>
        </div>

    </div> <!-- container .//  -->
</section>
