@model List<ngay8thang3_Complete.Models.CommonModel.DonHang_ThongTinChiTiet>
@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div style="padding:50px">
    <div class="card">
        <div class="card-header ui-sortable-handle" style="cursor: move;">
            <h3 class="card-title">
                <i class="fas fa-chart-pie mr-1"></i>
                Chi tiết đơn hàng
            </h3>
            <div class="card-tools">
                <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
                    </li>
                </ul>
            </div>
        </div><!-- /.card-header -->
        <div class="card-body">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Mã đơn hàng</td>
                        <td>Họ tên khách hàng</td>
                        <td>Sản phẩm mua</td>
                        <td>Ngày đặt hàng</td>
                        <td>Đơn giá</td>
                        <td>Số lượng</td>
                        <td>Số điện thoại giao hàng</td>
                        <td>Địa chỉ đơn hàng</td>
                        <td>Tình trạng</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.maDonHang</td>
                            <td>@item.HoTen</td>
                            <td>@item.TenSanPham</td>
                            <td>@item.NgayDatHang</td>
                            <td>@item.DonGia</td>
                            <td>@item.SoLuong</td>
                            <td>@item.SoDTGiaoHang</td>
                            <td>@item.DiaChiGiaoHang</td>
                            <td>
                                @if (item.TinhTrang == 0)
                                {
                                    <span style="color: #563CFF">Đang chờ duyệt</span>
                                }
                                else if (item.TinhTrang == 1)
                                {
                                    <span style="color: #2200FF">Đang đóng gói</span>
                                }
                                else if (item.TinhTrang == 3)
                                {
                                    <span style="color: #7B68EE">Đang vận chuyển</span>
                                }
                                else if (item.TinhTrang == 4)
                                {
                                    <span style="color:#7B68EE">Giao hàng thành công</span>
                                }
                                else
                                {
                                    <span>Đã hủy</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div><a href="javascript: history.back()" class="btn btn-light"> &laquo Quay lại</a></div>

        </div><!-- /.card-body -->
    </div>
</div>



