@model List<ngay8thang3_Complete.Models.CommonModel.Carts>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giỏ hàng</h2>
<table class="table">
    <thead>
        <tr>
            <td>Mã sản phẩm</td>
            <td>Tên sản phẩm</td>
            <td>Hình ảnh </td>
            <td>Số lượng </td>
            <td>Đơn giá </td>
            <td>Thành tiền </td>

        </tr>
    </thead>      
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId.ID</td>
                <td>@item.ProductId.TenDongHo</td>
                <td><img src="@item.ProductId.HinhAnhDH" width="100" alt="Alternate Text" /> </td>
                <td><input type="text" name="name" class="quatity" value="@item.Quality" /></td>
                <td>@item.ProductId.DonGia </td>
                <td>@(item.ProductId.DonGia.GetValueOrDefault(0) * item.Quality) </td>

            </tr>
        }

    </tbody>

</table>

